<!DOCTYPE html>
<html>
<head>
    <title>Mobil Oko | Прграмма для слежения</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="shortcut icon" href="http://smartacademy.kz/favicon.ico" type="image/x-icon">-->
    <link rel='stylesheet' href='/stylesheets/normalize.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.0/aos.css" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<a href="#0" class="cd-top js-cd-top">Top</a>
<div class="desktop-version d-md-block d-none">
    <div class="main-part">

        <div class="header d-flex justify-content-between align-items-center">
            <h3 class="m-0">Mobil Oko</h3>
            <div class="links">
                <a class="mr-3 text-uppercase" href="#for-whom">для кого эта программа</a>
                <a class="mr-3 text-uppercase" href="#how-to-connect">Как подключиться</a>
                <a class="mr-3 text-uppercase" href="#capability">Возможности</a>
                <a class="mr-3 text-uppercase" href="#faq">FAQ</a>
                <a class="mr-3 text-uppercase" href="#contacts">контакты</a>
                <a class="mr-3 text-uppercase" href="#">вход</a>
            </div>
        </div>
        <div class="body-inside pt-4" >
            <h3 class="text-uppercase">программа <br> <span> для слежения</span></h3>
            <p>
                Программа для слежения и наблюдения за <br>
                сотрудниками, слежение за ребенком <br>
                и его безопасностью <br>
                <span>3 дня бесплатно</span>
            </p>
        </div>
        <div class="pre-bg"></div>
        <img class="mobile-center" src="images/phone.png" alt="">
    </div>
    <div class="for-whom mt-4" id="for-whom">
        <h3 data-aos="fade-zoom-in" class="text-white">ДЛЯ КОГО ЭТА ПРОГРАММА</h3>
        <div class="text-and-mobile d-flex justify-content-center">
            <div  data-aos="fade-right" class="left-text mr-5">
                <h4 class="text-white">
                    <span>XОТИТЕ УЛУЧШИТЬ</span> <br>
                    КАЧЕСТВО РАБОТЫ <br>
                    СОТРУДНИКОВ?
                </h4>
                <div class="mark-text ml-5 mt-5 d-flex align-items-start">
                    <img class="mt-2 mr-3" src="images/mark.png" alt="">
                    <p class="text-white">Не добросовесно  относятся <br>
                        к работе?</p>
                </div>
                <div class="mark-text ml-5 d-flex align-items-start">
                    <img class="mt-2 mr-3" src="images/mark.png" alt="">
                    <p class="text-white">Контроль использования <br>
                        рабочего времени</p>
                </div>
            </div>
            <img data-aos="fade-up" class="mobile-center" src="images/phone.png" alt="">
            <img class="mobile-center2" style="visibility: hidden;" src="images/phone.png" alt="">
            <div data-aos="fade-left" class="right-text mr-5">
                <h4 class="text-white text-uppercase">
                    <span>переживаете</span> <br>
                    за детей?
                </h4>
                <div class="mark-text ml-5 mt-5 d-flex align-items-start">
                    <img class="mt-2 mr-3" src="images/mark.png" alt="">
                    <p class="text-white">Хотите быть всегда в курсе что <br>
                        происходит с вашим ребенком?</p>
                </div>
            </div>
        </div>
        <div class="photos d-flex">
            <h5 data-aos="fade-up" class="d-flex justify-content-center align-items-start">Mobile Oko</h5>
            <img src="images/photo5.jpg" alt="">
            <img src="images/photo4.jpg" alt="">
            <img src="images/photo3.jpg" alt="">
            <img src="images/photo2.jpg" alt="">
            <img src="images/photo1.jpg" alt="">
        </div>
        <img class="bg-for-whom" src="images/bg-for-whom.png" alt="">
    </div>
    <div class="download-app" >
        <div data-aos="fade-zoom-in" class="text-border d-flex flex-column justify-content-center align-items-start px-5">
            <h4 class="text-white text-uppercase">Установите программу <br>
                <span>Бесплатно</span></h4>
            <p data-aos="fade-zoom-in" class="text-white">и будьте в курсе всего <br>
                что происходит!</p>
        </div>
        <img data-aos="fade-zoom-in" class="mobile" src="images/phone.png" alt="">
        <img data-aos="fade-zoom-in" class="download-pic" src="images/download-pic.jpg" alt="">
    </div>
    <div class="how-connect" id="how-to-connect">
        <div data-aos="fade-up-right" class="h-25"><h3 class="text-white">КАК ПОДКЛЮЧИТЬСЯ?</h3></div>

        <div class="h-50 d-flex justify-content-around">
            <div class="left-side d-flex flex-column justify-content-between">
                <div data-aos="flip-left"  data-aos-duration="1000" class="stages d-flex">
                    <div class="circle d-flex justify-content-center align-items-center">
                        <div class="transparent-circle d-flex justify-content-center align-items-center">
                            <p class="m-0 text-white">01</p>
                        </div>
                    </div>
                    <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pl-4">
                        <hr align="left">
                        <p class="m-0 text-white pl-4">Зарегистрируйтесь <br>
                            на сайте</p>
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-duration="1000"  class="stages d-flex">
                    <div class="circle d-flex justify-content-center align-items-center">
                        <div class="transparent-circle d-flex justify-content-center align-items-center">
                            <p class="m-0 text-white">02</p>
                        </div>
                    </div>
                    <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pl-4">
                        <hr align="left">
                        <p class="m-0 text-white pl-4">добавляете номер телефона, <br>
                            над которым необходим <br>
                            контроль</p>
                    </div>
                </div>
                <div data-aos="flip-left" data-aos-duration="1000"  class="stages d-flex">
                    <div class="circle d-flex justify-content-center align-items-center">
                        <div class="transparent-circle d-flex justify-content-center align-items-center">
                            <p class="m-0 text-white">03</p>
                        </div>
                    </div>
                    <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pl-4">
                        <hr align="left">
                        <p class="m-0 text-white pl-4">Скачайте и установите <br>
                            программу на <br>
                            свой телефон
                        </p>
                    </div>
                </div>
            </div>
            <img data-aos="fade-up" class="phone" src="images/phone.png" alt="">
            <div class="right-side d-flex flex-column justify-content-around">
                <div data-aos="flip-right" data-aos-duration="1000" class="stages d-flex">
                    <img class="big-gift" src="images/gift-big.png" alt="">
                    <div class="circle d-flex justify-content-center align-items-center mt-5">
                        <img src="images/gift-small.png" alt="">
                    </div>
                    <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pl-4">

                        <h5 class="m-0 pl-4 text-uppercase"> <span>Бесплатный </span><br>
                            ТЕСТОВЫЙ <br>
                            ПЕРИОД 3 ДНЯ
                        </h5>
                        <hr align="left">
                    </div>
                </div>

                <div data-aos="flip-right" data-aos-duration="1000" class="stages d-flex">
                    <div class="circle d-flex justify-content-center align-items-center">
                        <div class="transparent-circle d-flex justify-content-center align-items-center">
                            <p class="m-0 text-white">04</p>
                        </div>
                    </div>
                    <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pl-4">
                        <hr align="left">
                        <p class="m-0 text-white pl-4">В течении часа первые <br>
                            данные появятся в <br>
                            личном кабинете

                        </p>
                    </div>
                </div>
            </div>
        </div>


        <img data-aos="fade-up" class="circles" src="images/circles.png" alt="">
    </div>
    <div class="app-capability w-100" id="capability">
        <h3 data-aos="fade-up" class="text-white">ВОЗМОЖНОСТИ ПРОГРАММЫ</h3>

        <div class="w-100 d-flex">
            <div  class="left-side w-50 d-flex flex-column justify-content-between">
                <div class="capabilities d-flex flex-column">
                    <img data-aos="fade-right" src="images/phone-icon.png" alt="">
                    <h4 data-aos="fade-right" class="mb-4">Контроль вызовов</h4>
                    <div data-aos="fade-right" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Запись телефонных разговоров и отправка на сайт.</p>
                    </div>
                    <div data-aos="fade-right" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Перехват смс.</p>
                    </div>
                    <div data-aos="fade-right" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Список контактов с телефона.</p>
                    </div>
                    <div data-aos="fade-right" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Возможность включать микрофон телефона, производить запись звуков окружающей среды (Радио Няня).
                        </p>
                    </div>
                    <div data-aos="fade-right" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Возможность разговаривать как по рации. (пример как в программе GeoLog https://kid.gl)
                        </p>
                    </div>
                </div>

                <div class="capabilities d-flex flex-column mt-5">
                    <img data-aos="fade-right" src="images/gps-icon.png" alt="">
                    <h4 data-aos="fade-right" class="mb-4">Определение местоположения
                        телефона по GPS</h4>
                    <div data-aos="fade-right" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Определение местоположения (используются Yandex и Google).</p>
                    </div>
                    <div data-aos="fade-right" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Возможность создавать отдельные метки на карте с иконками (семья, работа, разное итд).</p>
                    </div>
                </div>
                <img data-aos="fade-right" class="headset-img" src="images/headset.png" alt="">
            </div>
            <div class="right-side w-50">
                <div class="capabilities d-flex flex-column">
                    <img data-aos="fade-left" src="images/web-icon.png" alt="">
                    <h4 data-aos="fade-left" class="mb-4">Технологии</h4>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Работа с телефонами с двумя sim-картами.</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">В личном кабинете создавать отдельные папки
                            с номерами телефонов (семья, работа, разное итд). </p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Автоматическое включение передачи мобильных данных.</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Автоматическое включение WI-FI.</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Режим работы через WI-FI или WI-FI + мобильные данные. На выбор пользователя.</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Отслеживания смены sim-карты.
                        </p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Возможность деактивировать приложение удалённо. </p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Возможность заблокировать телефон удалённо, при краже через смс или интернет.</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Возможность скрывать ярлык (при включении этой функции запуск программы
                            происходит из окна набора номера, при вводе
                            специального кода)</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Защита от удаления программы  и принудительной
                            остановки.</p>
                    </div>
                </div>
                <div class="capabilities d-flex flex-column mt-5">
                    <img data-aos="fade-left" src="images/cloud-icon.png" alt="">
                    <h4 data-aos="fade-left" class="mb-4">Мульти медиа</h4>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Копировать данные с камеры телефона фото/видео.</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Возможность включать камеру телефона удалённо, делать фото/видео.</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Управление фронтальной камерой (если такая в телефоне присутствует) в случае хищения телефона с целью установления виновного лица..</p>
                    </div>
                    <div data-aos="fade-left" class="text-mark d-flex align-items-center mb-3">
                        <img class="mr-3" src="images/mark-icon-capability.png" alt="">
                        <p class="text-white m-0">Управление основной камерой в случае хищения телефона с целью установления виновного лица
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <img data-aos="fade-up" class="phone" src="images/phone.png" alt="">
        <img data-aos="fade-up" class="phone2" src="images/phone-half.png" alt="">
    </div>
    <div class="cost w-100 d-flex" id="faq">
        <div data-aos="zoom-out-right" class="left-side w-50">
            <h3 class="text-white text-uppercase">Стоимость</h3>
            <p class="text-white">Стоимость предоставления услуг для Stable и Root
                версии едина и составляет 0,5$ в день.
                При установке и активации программы на телефоне автоматически
                начисляются два бесплатных дня для ознакомления с программой.
                Оплатить услуги можно в любой удобной для вас валюте через банк, электронными деньгами, карточкой, с мобильного телефона, с
                банкомата, криптовалютой и др. (более 200 способов оплаты).
                При оплате услуги на 90/180/360 дней скидки 5%/10%/20%
            </p>
        </div>
        <img data-aos="zoom-out-left" class="w-50" src="images/cost-bg.png" alt="">
    </div>
    <div class="feedbacks d-flex justify-content-center align-items-center">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="mb-3" src="images/portrait.png" alt="">
                    <h3 class="text-center"><span class="text-center">Константин</span><br> г. Москва</h3>
                    <p>Приложение супер! Никогда не верила что такое возможно, но моя знакомая сказала, что уже пользовалась этим сайтом. Попробовала поставить, тем более что тест бесплатно. Действительно работает, очень удобно когда забываеш телефон дома. Что очень важно лично для меня, с  разберется даже такой «чайник» в компьютерах, как я.
                        Отдельное спасибо поддержке сайта, вы мне очень помогли.</p>
                </div>
                <div class="carousel-item">
                    <img class="mb-3" src="images/portrait.png" alt="">
                    <h3 class="text-center"><span class="text-center">Константин</span><br> г. Москва</h3>
                    <p>Приложение супер! Никогда не верила что такое возможно, но моя знакомая сказала, что уже пользовалась этим сайтом. Попробовала поставить, тем более что тест бесплатно. Действительно работает, очень удобно когда забываеш телефон дома. Что очень важно лично для меня, с  разберется даже такой «чайник» в компьютерах, как я.
                        Отдельное спасибо поддержке сайта, вы мне очень помогли.</p>
                </div>
                <div class="carousel-item">
                    <img class="mb-3" src="images/portrait.png" alt="">
                    <h3 class="text-center"><span class="text-center">Константин</span><br> г. Москва</h3>
                    <p>Приложение супер! Никогда не верила что такое возможно, но моя знакомая сказала, что уже пользовалась этим сайтом. Попробовала поставить, тем более что тест бесплатно. Действительно работает, очень удобно когда забываеш телефон дома. Что очень важно лично для меня, с  разберется даже такой «чайник» в компьютерах, как я.
                        Отдельное спасибо поддержке сайта, вы мне очень помогли.</p>
                </div>
            </div>
        </div>
    </div>
    <div  class="footer d-flex flex-column py-3" id="contacts">
        <div class="d-flex mb-4">
            <div class="d-flex flex-column mr-5">
                <p class="text-white m-0">Подробная информация по телефону:</p>
                <a class="text-white" href="tel:+74958888888">+7 (495) 888-88-88</a>
            </div>
            <div class="d-flex flex-column ml-4">
                <p class="text-white m-0">Принимаем к оплате:</p>
                <div class="d-flex align-items-center">
                    <img class="cards mr-3" src="images/icon11.png" alt="">
                    <img class="cards mr-3" src="images/icon12.png" alt="">
                    <img class="cards2 mr-3" src="images/icon13.png" alt="">
                    <img class="cards2 mr-3" src="images/icon14.png" alt="">
                </div>
            </div>
        </div>
        <p class="prava text-white">
            © 2018 Все права защищены. Использование услуг сервиса резервного хранения и защиты данных  допускается исключительно
            <br>
            при принятиии и соблюдении всех пунктов публичного договора оферты.
        </p>
    </div>
</div>

<div class="mobile-version d-block d-md-none">
    <div class="header-wrap d-flex flex-column align-items-center justify-content-between">
        <div class="header  d-flex align-items-center justify-content-between p-4">
            <h3 class="m-0">Mobil Oko</h3>
            <div id="burger" class="burger d-flex flex-column justify-content-between">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <ul class="d-none" id="nav-list">
            <li><a href="#whom-for">ДЛЯ КОГО ЭТА ПРОГРАММА</a></li>
            <li><a href="#connect-how">КАК ПОДКЛЮЧИТЬСЯ</a></li>
            <li><a href="#abilities">ВОЗМОЖНОСТИ</a></li>
            <li><a href="#faqs">FAQ</a></li>
            <li><a href="#contact">КОНТАКТЫ</a></li>
        </ul>

    </div>
    <div class="main-section d-flex flex-column align-items- p-5 text-center">
        <h3 class="text-uppercase my-5">программа<br><span>для слежения</span></h3>
        <p class="text-center text-white">
            Программа для слежения и наблюдения за
            сотрудниками, слежение за ребенком
            и его безопасностью
            <span>3 дня бесплатно</span>
        </p>
        <img class="mobile-center" src="images/phone.png" alt="">
    </div>

    <div id="whom-for" class="for-whom pt-5 mb-5">
        <h2 class="main-text px-5">ДЛЯ КОГО ЭТА ПРОГРАММА</h2>
        <h3 class="px-5">ХОТИТЕ УЛУЧШИТЬ
            КАЧЕСТВО РАБОТЫ
            СОТРУДНИКОВ?</h3>
        <div class="mark-text ml-5 mt-5 d-flex align-items-start px-5">
            <img class="mt-2 mr-3" src="images/mark.png" alt="">
            <p class="text-white">Не добросовесно  относятся <br>
                к работе?</p>
        </div>
        <div class="mark-text ml-5 mt-3 d-flex align-items-start px-5">
            <img class="mt-2 mr-3" src="images/mark.png" alt="">
            <p class="text-white">Контроль использования <br>
                рабочего времени</p>
        </div>

        <h3 class="text-uppercase mt-5 px-5">переживаете
            за детей?</h3>
        <div class="mark-text ml-5 my-5 d-flex align-items-start px-5">
            <img class="mt-2 mr-3" src="images/mark.png" alt="">
            <p class="text-white">Хотите быть всегда в курсе что <br>
                происходит с вашим ребенком?</p>
        </div>

        <div class="photos flex-wrap  d-flex">
            <h5 class="d-flex justify-content-center align-items-start">Mobile <br> Oko</h5>
            <img src="images/photo5.jpg" alt="">
            <img src="images/photo4.jpg" alt="">
            <img src="images/photo3.jpg" alt="">
            <img src="images/photo2.jpg" alt="">
        </div>
    </div>
    <div class="install-app d-flex flex-column mt-5">
        <h2 class="main-text px-5 text-uppercase">Установите программу
            <span>Бесплатно</span></h2>
        <p class="px-5 mt-5">Установите программу
            Бесплатно
            и будьте в курсе всего
            что происходит!</p>
        <img class="mobile-center px-5" src="/images/phone.png" alt="">
    </div>
    <div id="connect-how" class="how-connect py-5">
        <h2 class=" px-5 main-text text-uppercase">кАК ПОДКЛЮЧИТЬСЯ?</h2>
        <div class="d-flex px-5 align-items-center mb-5">
            <div class="circle d-flex justify-content-center align-items-center">
                <div class="transparent-circle d-flex justify-content-center align-items-center">
                    <p class="m-0 text-white">01</p>
                </div>
            </div>
            <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pl-4">
                <p class="m-0 text-white pl-4">Зарегистрируйтесь
                    на сайте</p>
            </div>
        </div>

        <div class="d-flex px-5 align-items-center mb-5">
            <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pr-4">
                <p class="m-0 text-white pr-4">Добавляете номер телефона,
                    над которым необходим
                    контроль</p>
            </div>
            <div class="circle d-flex justify-content-center align-items-center">
                <div class="transparent-circle d-flex justify-content-center align-items-center">
                    <p class="m-0 text-white">02</p>
                </div>
            </div>
        </div>

        <div class="d-flex px-5 align-items-center mb-5">
            <div class="circle d-flex justify-content-center align-items-center">
                <div class="transparent-circle d-flex justify-content-center align-items-center">
                    <p class="m-0 text-white">03</p>
                </div>
            </div>
            <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pl-4">
                <p class="m-0 text-white pl-4">Скачайте и установите
                    программу на
                    свой телефон
                </p>
            </div>
        </div>

        <div class="d-flex px-5 align-items-center mb-5">
            <div class="line-and-texts d-flex flex-column align-items-start justify-content-start pr-4">
                <p class="m-0 text-white pr-4">В течении часа первые
                    данные появятся в
                    личном кабинете
                </p>
            </div>
            <div class="circle d-flex justify-content-center align-items-center">
                <div class="transparent-circle d-flex justify-content-center align-items-center">
                    <p class="m-0 text-white">04</p>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column px-5 align-items-center justify-content-center mb-5">
            <div class="circle d-flex justify-content-center align-items-center mt-5">
                <img src="images/gift-small.png" alt="">
            </div>
            <div class="line-and-texts d-flex flex-column align-items-center justify-content-center mt-4">

                <h5 class="m-0 pl-4 text-uppercase text-center"> <span>Бесплатный </span><br>
                    ТЕСТОВЫЙ <br>
                    ПЕРИОД 3 ДНЯ
                </h5>
            </div>
        </div>

    </div>

    <div id="abilities" class="abilities pt-5">
        <h2 class=" px-5 main-text text-uppercase">кАК ПОДКЛЮЧИТЬСЯ?</h2>

        <div class="capabilities px-5 justify-content-center d-flex flex-column mb-5">
            <img src="images/phone-icon.png" alt="">
            <h4 class="mb-4">Контроль вызовов</h4>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Запись телефонных разговоров и отправка на сайт.</p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Перехват смс.</p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Список контактов с телефона.</p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Возможность включать микрофон телефона, производить запись звуков окружающей среды (Радио Няня).
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Возможность разговаривать как по рации. (пример как в программе GeoLog https://kid.gl)
                </p>
            </div>
        </div>

        <div class="capabilities px-5 justify-content-center d-flex flex-column">
            <img src="images/gps-icon.png" alt="">
            <h4 class="mb-4">Определение местоположения
                телефона по GPS</h4>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Определение местоположения (используются Yandex и Google).
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Возможность создавать отдельные метки на карте с иконками (семья, работа, разное и тд).</p>
            </div>
        </div>

        <div class="capabilities mt-5 px-5 justify-content-center d-flex flex-column">
            <img src="images/web-icon.png" alt="">
            <h4 class="mb-4">Технологии</h4>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Работа с телефонами с двумя sim-картами.</p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">В личном кабинете создавать отдельные папки
                    с номерами телефонов (семья, работа, разное итд). </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Автоматическое включение передачи мобильных данных.</p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Автоматическое включение WI-FI.
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Режим работы через WI-FI или WI-FI + мобильные данные. На выбор пользователя.
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Отслеживания смены sim-карты.
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Возможность деактивировать приложение удалённо.
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Возможность заблокировать телефон удалённо, при краже через смс или интернет.

                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Возможность скрывать ярлык (при включении этой функции запуск программы
                    происходит из окна набора номера, при вводе
                    специального кода)
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Защита от удаления программы  и принудительной
                    остановки.
                </p>
            </div>
        </div>

        <div class="capabilities mt-5 px-5 justify-content-center d-flex flex-column">
            <img src="images/cloud-icon.png" alt="">
            <h4 class="mb-4">Мульти медиа</h4>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Копировать данные с камеры телефона фото/видео.</p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Возможность включать камеру телефона удалённо, делать фото/видео.</p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Управление фронтальной камерой (если такая в телефоне присутствует) в случае хищения телефона с целью установления виновного лица.
                </p>
            </div>
            <div class="text-mark align-items-center d-flex mb-3">
                <img class="" src="images/mark-icon-capability.png" alt="">
                <p class="pl-4 text-white m-0">Управление основной камерой в случае хищения телефона с целью установления виновного лица
                </p>
            </div>
        </div>

    </div>

    <div id="faqs" class="cost pt-5">
        <h2 class=" px-5 main-text text-uppercase">стоимость</h2>
        <p class="px-5 mb-5">
            Стоимость предоставления услуг для Stable и Root
            версии едина и составляет 0,5$ в день.
            При установке и активации программы на телефоне автоматически
            начисляются два бесплатных дня для ознакомления с программой.
            Оплатить услуги можно в любой удобной для вас валюте через банк, электронными деньгами, карточкой, с мобильного телефона, с
            банкомата, криптовалютой и др. (более 200 способов оплаты).
            При оплате услуги на 90/180/360 дней скидки 5%/10%/20%

        </p>
        <img src="images/cost-bg.png" alt="">
    </div>

    <div class="feedbacks p-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="mb-3" src="images/portrait.png" alt="">
                    <h3 class="text-center"><span class="text-center">Константин</span><br> г. Москва</h3>
                    <p>Приложение супер! Никогда не верила что такое возможно, но моя знакомая сказала, что уже пользовалась этим сайтом. Попробовала поставить, тем более что тест бесплатно. Действительно работает, очень удобно когда забываеш телефон дома. Что очень важно лично для меня, с  разберется даже такой «чайник» в компьютерах, как я.
                        Отдельное спасибо поддержке сайта, вы мне очень помогли.</p>
                </div>
                <div class="carousel-item">
                    <img class="mb-3" src="images/portrait.png" alt="">
                    <h3 class="text-center"><span class="text-center">Константин</span><br> г. Москва</h3>
                    <p>Приложение супер! Никогда не верила что такое возможно, но моя знакомая сказала, что уже пользовалась этим сайтом. Попробовала поставить, тем более что тест бесплатно. Действительно работает, очень удобно когда забываеш телефон дома. Что очень важно лично для меня, с  разберется даже такой «чайник» в компьютерах, как я.
                        Отдельное спасибо поддержке сайта, вы мне очень помогли.</p>
                </div>
                <div class="carousel-item">
                    <img class="mb-3" src="images/portrait.png" alt="">
                    <h3 class="text-center"><span class="text-center">Константин</span><br> г. Москва</h3>
                    <p>Приложение супер! Никогда не верила что такое возможно, но моя знакомая сказала, что уже пользовалась этим сайтом. Попробовала поставить, тем более что тест бесплатно. Действительно работает, очень удобно когда забываеш телефон дома. Что очень важно лично для меня, с  разберется даже такой «чайник» в компьютерах, как я.
                        Отдельное спасибо поддержке сайта, вы мне очень помогли.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="footer d-flex flex-column justify-content-center align-items-center p-5">
        <p class="text-center">Подробная информация по телефону:</p>
        <a class="mb-5" href="tel:+74958888888">+7 (495) 888-88-88</a>
        <p>Принимаем к оплате:</p>
        <div class="d-flex align-items-center mb-5">
            <img class="cards mr-3" src="images/icon11.png" alt="">
            <img class="cards mr-3" src="images/icon12.png" alt="">
            <img class="cards2 mr-3" src="images/icon13.png" alt="">
            <img class="cards2 mr-3" src="images/icon14.png" alt="">
        </div>
        <p class="prava text-center">© 2018 Все права защищены. Использование услуг сервиса резервного хранения и защиты данных  допускается исключительно
            при принятиии и соблюдении всех пунктов публичного договора оферты.</p>
    </div>
</div>

<script language="JavaScript" type="text/javascript"  src="/libs/jquery/dist/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript"  src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.0/aos.js"></script>
<script>
    $( document ).ready(function() {

        $('.carousel').carousel({
            interval: 6000,
            pause: "false"
        });

        AOS.init({
            offset: 200,
            duration: 600,
            easing: 'ease-in-sine',
            delay: 100,

                });
        var ss =false;
        $("#burger").click(function () {
            ss= !ss;
            if(ss){
                $("#nav-list").removeClass("d-none")
            }
            else{
                $("#nav-list").addClass("d-none")

            }
        });

        (function(){
            var backTop = document.getElementsByClassName('js-cd-top')[0],
                    // browser window scroll (in pixels) after which the "back to top" link is shown
                    offset = 300,
                    //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
                    offsetOpacity = 1200,
                    scrollDuration = 700
            scrolling = false;
            if( backTop ) {
                //update back to top visibility on scrolling
                window.addEventListener("scroll", function(event) {
                    if( !scrolling ) {
                        scrolling = true;
                        (!window.requestAnimationFrame) ? setTimeout(checkBackToTop, 250) : window.requestAnimationFrame(checkBackToTop);
                    }
                });
                //smooth scroll to top
                backTop.addEventListener('click', function(event) {
                    event.preventDefault();
                    (!window.requestAnimationFrame) ? window.scrollTo(0, 0) : scrollTop(scrollDuration);
                });
            }

            function checkBackToTop() {
                var windowTop = window.scrollY || document.documentElement.scrollTop;
                ( windowTop > offset ) ? addClass(backTop, 'cd-top--show') : removeClass(backTop, 'cd-top--show', 'cd-top--fade-out');
                ( windowTop > offsetOpacity ) && addClass(backTop, 'cd-top--fade-out');
                scrolling = false;
            }

            function scrollTop(duration) {
                var start = window.scrollY || document.documentElement.scrollTop,
                        currentTime = null;

                var animateScroll = function(timestamp){
                    if (!currentTime) currentTime = timestamp;
                    var progress = timestamp - currentTime;
                    var val = Math.max(Math.easeInOutQuad(progress, start, -start, duration), 0);
                    window.scrollTo(0, val);
                    if(progress < duration) {
                        window.requestAnimationFrame(animateScroll);
                    }
                };

                window.requestAnimationFrame(animateScroll);
            }

            Math.easeInOutQuad = function (t, b, c, d) {
                t /= d/2;
                if (t < 1) return c/2*t*t + b;
                t--;
                return -c/2 * (t*(t-2) - 1) + b;
            };

            //class manipulations - needed if classList is not supported
            function hasClass(el, className) {
                if (el.classList) return el.classList.contains(className);
                else return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
            }
            function addClass(el, className) {
                var classList = className.split(' ');
                if (el.classList) el.classList.add(classList[0]);
                else if (!hasClass(el, classList[0])) el.className += " " + classList[0];
                if (classList.length > 1) addClass(el, classList.slice(1).join(' '));
            }
            function removeClass(el, className) {
                var classList = className.split(' ');
                if (el.classList) el.classList.remove(classList[0]);
                else if(hasClass(el, classList[0])) {
                    var reg = new RegExp('(\\s|^)' + classList[0] + '(\\s|$)');
                    el.className=el.className.replace(reg, ' ');
                }
                if (classList.length > 1) removeClass(el, classList.slice(1).join(' '));
            }
        })();
    });
</script>
</body>
</html>
